@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

 

<div class="jumbotron">
    <h1>Bem vindo! </h1>
    <p>Este é meu primeiro projeto Web App no Azure!</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>


<div class="panel panel-primary">Sucesso total !!!</div>
<div></div>
<span class="label label-warning">#goOrange</span>